# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/

# Pytest
.cache/
.pytest_cache/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
